node_modules/
dist/
/.env
*.env
frontend/.env
backend/.env
npm-debug.log*
pnpm-lock.yaml
package-lock.json
.DS_Store
/.vite
/.idea
/.vscode
.env.local
uploads/
node_modules/
/.next
coverage/
/*.log
/.npm
.env.*
/.sass-cache
*.pem
/.cache
public/uploads/
uploads/